{% extends 'layouts/manage_categories.html' %}
{% block categories-content %}
{{category.name}}

<form action="{% url 'delete_category' id=category.id %}" method="POST">
    {% csrf_token %}
    <p>are you sure you want to delete this category and all of its dishes?</p>
    <p>(Information is preserved in database for archival integrity, but is otherwise inaccessible to staff and cannot be retrieved)</p>
    <input type="submit" value="Yes"> <a href="{% url 'show_categories' %}"><button type="button">No</button></a>
</form>
{% endblock categories-content %}

