{% extends 'layouts/manage_dishes.html' %}
{% block dishes-content %}

<a href="{% url 'add_dish' %}">add dish</a>
{% for category in all_categories %}
    <h4>{{category.name}}:</h4>
    {% for dish in category.dish_set.all %}
        {% if dish.is_deleted == False %}
            {% include 'common/dish_details.html' %}
            <a href="{% url 'edit_dish' id=dish.id %}">edit dish</a>
            <a href="{% url 'delete_dish' id=dish.id %}">delete dish</a>
        {% endif %}
    {% endfor %}
{% endfor %}

{% endblock dishes-content %}

