{% extends 'layouts/main.html' %}
{% block title %}Menu{% endblock title %}
{% block main-content %}

<div class="container">

  <div class="row center-align">
    <h4>Delivery Menu</h4>
    {% if request.user.is_staff %}
    <a class="btn" href="{% url 'add_dish' %}">add dish</a>
    <a class="btn" href="{% url 'add_category' %}">add category</a>
    {% endif %}
  </div>


  <div class="row">
    <div class="col l3">
      <ul class="collection">
        {% url 'menu_all_categories' as url %}
        <a class="collection-item {% if request.path == url %} active {% endif %}"
          href="{{url}}">
          <h5 class="no-top-bottom-margin">All Categories</h5>
        </a>
        {% for category in categories_list %}
        {% url 'menu_category_dishes' category_id=category.id as url %}
        <a class="collection-item {% if request.path == url  %} active {% endif %}"
          href="{{ url }}">
          <h5 class="no-top-bottom-margin">{{category}}</h5>
        </a>
        {% endfor %}
      </ul>
    </div>

    <div class="col l9">
      {% block menu-content %}
      {% endblock menu-content %}
    </div>
  </div>
</div>

{% endblock main-content %}