body {
  background-color: #fffbf4;
}

.logo-icon {
  height: 50px;
  position: absolute;
  top: 8px;
  left: -65px;
  /* border: 1px solid #fffbf4; */
  box-shadow: 0px 0px 20px #fffbf4;
  border-radius: 20%;
}

.category-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.dish-img {
  height: 100px;
  width: 100px;
  vertical-align: top;
  object-fit: cover;
}

.dish-img.big {
  height: 300px;
  width: 300px;
}

.dish-text {
  display: inline-block;
  margin-left: 10px;
}

.dish-text-in-modal {
  max-width: 55%;
}

.dish-text h5,
p {
  margin-top: 0px;
}

.to-bottom {
  position: absolute;
  bottom: 0;
}

.not-flex {
  display: block;
}

.change-item-btn {
  display: inline-block;
}

.plus-minus-btn {
  display: inline-block;
  font-size: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-top-margin {
  margin-top: 0px;
}

.no-top-bottom-margin {
  margin-bottom: 0px;
  margin-top: 0px;
}

.more-top-bottom-margin {
  margin-bottom: 10px;
  margin-top: 10px;
}

.more-top-margin {
  margin-top: 10px;
}

.more-bottom-margin {
  margin-bottom: 10px;
}

.category-title {
  text-shadow: 0px 0px 10px black;
  font-size: 60px !important;
  font-weight: 500 !important;
}

.fulfill-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tag {
  color: white;
  font-size: 10px;
  margin: 3px;
  display: inline-block;
  padding: 2px 4px 0px 4px;
  border-radius: 5px;
}

.add-dish-btn {
  width: 200px;
}

#toast-container {
  top: 5%;
  width: 100% !important;
  text-align: center !important;
}

.toast {
  display: inline;
}

.no-bottom-border {
  border-bottom: none !important;
}

.more-right-margin {
  margin-right: 30px;
}

.display-inline-block {
  display: inline-block;
}

.welcome-text {
  text-shadow: 6px 8px 6px rgba(0, 0, 0, 0.226);
  color:#c92e3f
}

.slider-text-shadow {
  text-shadow: 0px 0px 7px black;
}

.menu-btn {
  transition-duration: 0.5s;
}

.menu-btn:hover {
  font-size: 3.2rem;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.384);
}

