/* ver1 */

body {
  background-color: #fffbf4;
}

.logo-icon {
  height: 45px;
  box-shadow: 0px 0px 20px #fffbf4;
  border-radius: 20%;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.category-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.category-title {
  text-shadow: 0px 0px 10px black;
  font-size: 60px !important;
  font-weight: 500 !important;
}

.dish-img {
  height: 100px;
  width: 100px;
  vertical-align: top;
  object-fit: cover;
}

.dish-img.big {
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
}

.dish-modal-content {
  display: flex;
}

@media (max-width: 992px) {
  .dish-img.big {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 600px) {
  .category-img {
    height: 100px;
  }
  .category-title {
    font-size: 45px !important;
    padding-left: 10px !important;
    padding-bottom: 4px !important;
  }
  .dish-img.big {
    margin-left: auto;
    margin-right: auto;
  }
  .dish-modal-content {
    flex-wrap: wrap;
  }
}

.dish-text {
  display: inline-block;
  margin-left: 10px;
}

.dish-text-in-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dish-text h5,
p {
  margin-top: 0px;
}

.not-flex {
  display: block;
}

.change-item-btn {
  display: inline-block;
}

.plus-minus-btn {
  display: inline-block;
  font-size: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-top-margin {
  margin-top: 0px;
}

.no-top-bottom-margin {
  margin-bottom: 0px;
  margin-top: 0px;
}

.more-top-bottom-margin {
  margin-bottom: 10px;
  margin-top: 10px;
}

.more-top-margin {
  margin-top: 10px;
}

.more-bottom-margin {
  margin-bottom: 10px;
}

.fulfill-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tag {
  color: white;
  font-size: 10px;
  margin: 3px;
  display: inline-block;
  padding: 2px 4px 0px 4px;
  border-radius: 5px;
  width: fit-content;
}

@media (max-width: 600px) {
  .less-padding-on-small {
    padding-right: 0px !important;
  }
}

.no-bottom-border {
  border-bottom: none !important;
}

.more-right-margin {
  margin-right: 30px;
}

.display-inline-block {
  display: inline-block;
}

.welcome-text {
  text-shadow: 6px 8px 6px rgba(0, 0, 0, 0.226);
  color: #c92e3f;
}

.slider-text-shadow {
  text-shadow: 0px 0px 7px black;
}

.menu-btn {
  transition-duration: 0.5s;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.253);
}

.menu-btn:hover {
  font-size: 3.2rem;
  text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.384);
}

.btn.red:hover {
  background-color: rgb(231, 0, 0) !important;
}

.horizontal-collection-item {
  white-space: nowrap;
  border-right: 1px solid #e0e0e0;
  border-bottom: none;
}
