<div class="row">
  <div class="col l6">
    <div class="input-field">
      {{form.first_name.label_tag}} {{form.first_name}}
      {% for error in form.first_name.errors %}
      <div class="red-text">{{error}}</div>
      {% endfor %}
    </div>
  </div>
  <div class="col l6">
    <div class="input-field">
      {{form.last_name.label_tag}} {{form.last_name}}
      {% for error in form.last_name.errors %}
      <div class="red-text">{{error}}</div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col l12">
    <div class="input-field">
      {{form.email.label_tag}} {{form.email}}
      {% for error in form.email.errors %}
      <div class="red-text">{{error}}</div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col l12">
    <div class="input-field tooltipped" data-position="bottom"
    data-tooltip="{{form.username.help_text}}">
      {{form.username.label_tag}} {{form.username}}
      {% for error in form.username.errors %}
      <div class="red-text">{{error}}</div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col l12">
    <div class="input-field tooltipped" data-position="bottom"
    data-tooltip="{{form.password1.help_text}}">
      {{form.password1.label_tag}} {{form.password1}}
      {% for error in form.password1.errors %}
      <div class="red-text">{{error}}</div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col l12">
    <div class="input-field tooltipped" data-position="bottom"
    data-tooltip="{{form.password2.help_text}}">
      {{form.password2.label_tag}} {{form.password2}}
      {% for error in form.password2.errors %}
      <div class="red-text">{{error}}</div>
      {% endfor %}
    </div>
  </div>
</div>

{% for error in form.non_field_errors %}
<div class="red-text">{{error}}</div>
{% endfor %}

