{% extends 'layouts/backoffice.html' %}
{% block backoffice-content %}

<div class="col l10 offset-l1">
  <div class="section">
    <div class="card">
      <div class="card-content">
        <div class="center-align">
          <strong class="card-title">Add category</strong>
        </div>
        <form action="{% url 'add_category' %}" method="POST"
          enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          {{form}}
          <div class="row">
            <div class="col l12 center-align">
              <input class="btn" type="submit" value="add">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock backoffice-content %}