<!-- make responsive -->
{% extends 'layouts/backoffice.html' %}
{% block title %}Edit dish{% endblock title %}
{% block backoffice-content %}

<div class="col l10 offset-l1">
  <div class="section">
    <div class="card">
      <div class="card-content">
        <div class="center-align">
          <strong class="card-title">Edit dish</strong>
        </div>
        <form action="{% url 'edit_dish' id=dish.id %}" method="POST"
        enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          {{form}}
          <div class="row">
            <div class="col l12 center-align">
              <input class="btn" type="submit" value="Done">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock backoffice-content %}