{% extends 'backoffice/layout.html' %}
{% block title %}Manage Deliveries{% endblock title %}
{% block backoffice-content %}
{% for delivery in all_deliveries %}
<div>
    {{delivery.order.user.username}}
    {{delivery.created}}
    {{delivery.is_delivered}}
    {{delivery.order.item_set.all}}
    {% if delivery.is_delivered is False %}
        <form action="{% url 'manage_deliveries' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="order_id" value="{{delivery.order_id}}">
            <input type="submit" value="fulfill">
        </form>
    {% endif %}
</div>
{% endfor %}
{% endblock backoffice-content %}

