{% extends 'layouts/backoffice.html' %}
{% block title %}Open Orders{% endblock title %}
{% block backoffice-content %}

<div class="center-align">
  <h4>Open Orders</h4>
</div>

<div class="row">
  <!-- whole page -->
  <div class="col s12 xl10 offset-xl1">
    <div class="row no-bottom-margin">
      <!-- list left -->
      <div class="col s11 l10">
        <div class="row no-bottom-margin">
          <div class="col s2 m1">
            <h5>No.</h5>
          </div>
          <div class="col s4 m4">
            <h5>Made in</h5>
          </div>
          <div class="col s6 m7">
            <h5>Address</h5>
          </div>
        </div>
      </div>
    </div>
    {% for order in orders_list %}
    <div class="row no-bottom-margin">
      <div class="valign-wrapper">
        <!-- list left -->
        <div class="col s11 l10">
          <ul class="collapsible no-bottom-margin fulfill-item">
            <li>
              <div class="collapsible-header not-flex">
                <div class="row no-bottom-margin">
                  <div class="col s2 m1">
                    <div>
                      <strong>{{order.delivery.order_id}}</strong>
                    </div>
                  </div>
                  <div class="col s4 m4">
                    <div>{{order.delivery.created}}</div>
                  </div>
                  <div class="col s6 m7">
                    <div>{{order.delivery.address}}</div>
                  </div>
                </div>
              </div>
              <div class="collapsible-body">
                <div>
                  <strong>Made by:</strong> {{order.user.first_name|title}}
                  {{order.user.last_name|title}}
                </div>
                <div>
                  <strong>Items:</strong>
                  <ol>
                    {% for item in order.item_set.all %}
                    <li>
                      {{item.dish.name}} X {{item.amount}} -
                      {{item.item_total}}₪
                    </li>
                    {% endfor %}
                  </ol>
                </div>
                <div>
                  <strong>Total:</strong> {{order.total_to_pay}}₪
                </div>
                <div>
                  <strong>Comments:</strong> {{order.delivery.comment}}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- list right -->
        <div class="col s1 l2">
          <form class="fulfill-item" action="{% url 'manage_orders' %}"
            method="POST">
            {% csrf_token %}
            <input type="hidden" name="order_id"
              value="{{order.delivery.order_id}}">
            <input class="btn btn-large hide-on-med-and-down" type="submit"
              value="✓ fulfill">
            <input class="btn btn-small hide-on-large-only" type="submit"
              value="✓" style="margin-left: -10px;">
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock backoffice-content %}