<!-- make responsive -->
{% extends 'layouts/backoffice.html' %}
{% block title %}Orders history{% endblock title %}
{% block backoffice-content %}

<div class="center-align">
  <h4>Orders History</h4>
</div>

<div class="row">
  <div class="col l6 offset-l3">
    <div class="row no-bottom-margin">
      <div class="col l10">
        <div class="row no-bottom-margin">
          <div class="col l3">
            <h5>No.</h5>
          </div>
          <div class="col l5">
            <h5>Made in</h5>
          </div>
          <div class="col">
            <h5>Billed</h5>
          </div>
        </div>
      </div>
    </div>
    {% for order in orders_list %}
      <div class="row valign-wrapper no-bottom-margin">
        <div class="col l12">
          <ul class="collapsible no-bottom-margin">
            <li>
              <div class="collapsible-header not-flex">
                <div class="row no-bottom-margin">
                  <div class="col l2">
                    <div>
                      <strong>{{order.delivery.order_id}}</strong>
                    </div>
                  </div>
                  <div class="col l5">
                    <div>{{order.delivery.created}}</div>
                  </div>
                  <div class="col">
                    <div>{{order.total_to_pay}}₪</div>
                  </div>
                </div>
              </div>
              <div class="collapsible-body">
                <div>
                  <strong>Made by:</strong> {{order.user.first_name|title}} {{order.user.last_name|title}}
                </div>
                <div><strong>Address:</strong> {{order.delivery.address}}
                </div>
                <div>
                  <strong>Items:</strong>
                  <ol>
                    {% for item in order.item_set.all %}
                      <li>
                        {{item.dish.name}} X {{item.amount}} - {{item.item_total}}₪
                      </li>
                    {% endfor %}
                  </ol>
                </div>
                <div>
                  <strong>Total:</strong> {{order.total_to_pay}}₪
                </div>
                <div>
                  <strong>Comments:</strong> {{order.delivery.comment}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock backoffice-content %}