{% extends 'layouts/users.html' %}
{% block title %}Info{% endblock title %}
{% block users-content %}

<div class="col s12 m10 offset-m1 l8 offset-l2 xl6 offset-xl3">
  <div class="section">
    <div class="card">
      <div class="card-content">
        <div class="row center-align">
          <strong class="card-title">User information</strong>
        </div>
        <div class="row">
          <div class="col s10 offset-s2">
            <h6>
              <strong>Username:</strong> {{request.user.username}}
            </h6>
            <h6>
              <strong>First name:</strong> {{request.user.first_name|title}}
            </h6>
            <h6>
              <strong>Last name:</strong> {{request.user.last_name|title}}
            </h6>
            <h6>
              <strong>Email address:</strong> {{request.user.email}}
            </h6>
          </div>
        </div>
        <div class="row center-align">
          <a class="btn" href="{% url 'change_user_info' %}" style="margin-top: 10px;">
            Change user info
          </a>
          <a class="btn" href="{% url 'change_user_password' %}" style="margin-top: 10px;">
            Change password
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock users-content %}