{% extends 'layouts/users.html' %}
{% block title %}Login{% endblock title %}
{% block users-content %}

<div class="col l4 offset-l4">
  <div class="section">
    <div class="card">
      <div class="card-content">
        <div class="center-align">
          <strong class="card-title">Login</strong>
        </div>
        <form action="{% url 'user_login' %}" method="POST" novalidate>
          {% csrf_token %}
          {{form}}
          <input type="hidden" name="next" value="{{request.GET.next}}">
          <div class="row center-align">
            <input class="btn" type="submit" value="Enter">
          </div>
        </form>
        <div class="section center-align">
          Don't have a user?
          <div><a class="btn btn-flat btn-small"
              href="{% url 'user_signup' %}">Sign up</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock users-content %}