<div>
logged in as {{request.user.username}}
<a href="{% url 'all_dishes' %}">Menu</a>
{% if request.user.is_staff == True %}
    <a href="{% url 'manage_deliveries' %}">Manage Deliveries</a>
    <a href="{% url 'show_categories' %}">Manage Categories</a>
    <a href="{% url 'show_dishes' %}">Manage Dishes</a>
{% else %}
    <a href="{% url 'show_cart' %}">My Cart</a>
    <a href="{% url 'user_history' %}">My History</a>
    <a href="{% url 'show_user_info' %}">Profile</a>
{% endif %}
<a href="{% url 'user_logout' %}">Log out</a>
</div>