<nav>
  <div class="nav-wrapper">
    <a href="{% url 'main' %}" class="brand-logo">Uri's Diner</a>
    <ul class="right">
      <li><a href="{% url 'menu_all_categories' %}">Menu</a></li>
      {% if request.user.username %}
        {% if request.user.is_staff == True %}
          <li><a href="{% url 'manage_orders' %}">Open Orders
              ({{open_orders_number}})</a></li>
          <li><a href="{% url 'show_orders_history' %}">Orders History</a></li>
        {% else %}
          <li><a href="{% url 'show_cart' %}">My Cart
              ({{my_cart_items_number}})</a></li>
          <li><a href="{% url 'show_delivery' %}">My Orders
              ({{my_open_orders_number}})
            </a></li>
          <li><a href="{% url 'user_history' %}">My History</a></li>
        {% endif %}
        <li><a class="dropdown-trigger" href="#!"
            data-target="user-dropdown">logged in as
            <strong>{{request.user.username}}</strong><i
              class="material-icons right">arrow_drop_down</i></a></li>
        <ul class="dropdown-content" id="user-dropdown">
          <li><a href="{% url 'show_user_info' %}">Profile</a></li>
          <li><a href="{% url 'user_logout' %}">Log out</a></li>
        </ul>
      {% else %}
        <li><a href="{% url 'user_login' %}">Log In</a></li>
        <li><a href="{% url 'user_signup' %}">Sign up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>