<nav>
  <div class="nav-wrapper">
    <a href="{% url 'main' %}" class="brand-logo">Uri's Diner</a>
    <ul class="right">
      {% if request.user.username %}
      <li><a href="{% url 'all_dishes' %}">Menu</a></li>
      {% if request.user.is_staff == True %}
      <li><a href="{% url 'manage_orders' %}">Open Orders</a></li>
      <li><a href="{% url 'show_orders_history' %}">Orders History</a></li>
      <li><a href="{% url 'show_categories' %}">Manage Categories</a></li>
      <li><a href="{% url 'show_dishes' %}">Manage Dishes</a></li>
      {% else %}
      <li><a href="{% url 'show_cart' %}">My Cart
          ({{request.user.cart_set.last.item_set.all|length}})</a></li>
      <li><a href="{% url 'show_delivery' %}">My Orders</a></li>
      <li><a href="{% url 'user_history' %}">My History</a></li>
      {% endif %}
      <li><a class="dropdown-trigger" href="#!"
          data-target="user-dropdown">logged in as
          <strong>{{request.user.username}}</strong><i
            class="material-icons right">arrow_drop_down</i></a></li>
      <ul class="dropdown-content" id="user-dropdown">
        <li><a href="{% url 'show_user_info' %}">Profile</a></li>
        <li><a href="{% url 'user_logout' %}">Log out</a></li>
      </ul>
      {% else %}
      <li><a href="{% url 'user_login' %}">Log In</a></li>
      <li><a href="{% url 'user_signup' %}">Sign up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>