{% extends 'layouts/menu.html' %}

{% block menu-content %}

<div>
  {% for category in categories_list %}
  <div class="card hoverable">
    <a href="{% url 'category_dishes' category_id=category.id %}">
      <div class="card-image">
        <img class="category-img" {% if category.image_file %}
          src="{{category.image_file.url}}" {% else %}
          src="{{category.image_Url}}" {% endif %} alt="{{category.name}}">
        <span class="card-title category-title">{{category.name}} </span>
      </div>
    </a>
  </div>

  {% endfor %}
</div>

{% endblock menu-content %}