{% extends 'main/menu_layout.html' %} 
{% block title %}Menu{% endblock title %} 

{% block menu-content %}

<div>
  <h4>Dishes:</h4>
  {% for category in categories_list %}
    <h4><a href="{% url 'category_dishes' category_id=category.id %}">{{category.name}} </a></h4>
    <div>
      {% if category.image_file %}
          <img src="/{{category.image_file}}" alt="">
      {% else %}
          <img src="{{category.image_Url}}" alt="">
      {% endif %}
  </div>
  {% endfor %}

</div>
{% endblock menu-content %}
