{% extends 'layouts/menu.html' %} 
{% block title %}Menu{% endblock title %} 

{% block menu-content %}

<div>
  <h4>Dishes:</h4>
  {% for category in categories_list %}
  <a href="{% url 'category_dishes' category_id=category.id %}">
    <h4>{{category.name}} </h4>
    <div>
      {% if category.image_file %}
          <img src="/{{category.image_file}}" alt="">
      {% else %}
          <img src="{{category.image_Url}}" alt="">
      {% endif %}
  </div>
</a>
  {% endfor %}

</div>
{% endblock menu-content %}
