<!-- make responsive -->
{% extends 'layouts/main.html' %}
{% block title %}Cart{% endblock title %}
{% block main-content %}

<div class="container">

  <div class="row center-align">
    <h4>Cart</h4>
  </div>

  {% if cart.total_to_pay > 0 %}
    <div class="row">
      <div class="col l8 offset-l2">
        <ul class="collection">
          {% for item in cart.item_set.all %}
            <li class="collection-item">
              <div class="row no-bottom-margin">
                <div class="col l6">
                  <a class="modal-trigger" href="#{{item.dish.name}}">
                    <strong>{{item.dish.name}}</strong> X {{item.amount}}
                  </a>
                </div>
                <div class="col l2">{{item.item_total}}₪</div>
                <div class="col l2">
                  <form class="change-item-btn"
                  action="{% url 'change_cart_item' %}" 
                  method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{item.id}}">
                    <input type="hidden" name="amount" value="1">
                    <button class="btn btn-small plus-minus-btn" type="submit">
                      <i class="material-icons">exposure_plus_1</i>
                    </button>
                  </form>
                  {% if item.amount > 1 %}
                    <form class="change-item-btn"
                    action="{% url 'change_cart_item' %}" 
                    method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="item_id" value="{{item.id}}">
                      <input type="hidden" name="amount" value="-1">
                      <button class="btn btn-small plus-minus-btn" type="submit">
                        <i class="material-icons">exposure_neg_1</i>
                      </button>
                    </form>
                  {% else %}
                    <div class="btn btn-small disabled plus-minus-btn">
                      <i class="material-icons">exposure_neg_1</i>
                    </div>
                  {% endif %}
                </div>
                <div class="col l1">
                  <form action="{% url 'delete_cart_item' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{item.id}}">
                    <button class="btn-small btn-flat" type="submit">Remove</button>
                  </form>
                </div>
              </div>
            </li>

            <div id="{{item.dish.name}}" class="modal">
              <div class="modal-content">
                <img class="dish-img big" 
                {% if item.dish.image_file %}
                  src="{{item.dish.image_file.url}}" 
                {% else %}
                  src="{{item.dish.image_Url}}"
                {% endif %}
                alt="{{item.dish.name}}">
                <div class="dish-text dish-text-in-modal">
                  <h5>{{item.dish.name}}</h5>
                  <p>{{item.dish.price}}₪</p>
                  <p>
                    {% if item.dish.is_vegeterian %}
                      {% include 'common/tag_vegeterian.html' %}
                    {% endif %}
                    {% if item.dish.is_gluten_free %}
                      {% include 'common/tag_gluten_free.html' %}
                    {% endif %}
                  </p>
                  <p>{{item.dish.description}}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  <div class="row">
    <div class="col l6 offset-l3 center-align">
      <h5>Total: {{cart.total_to_pay}}₪</h5>
      <div class="section">
        <a class="btn btn-large" href="{% url 'fill_order' %}">Place order</a>
      </div>
    </div>
  </div>

  {% else %}
    <div class="row center-align">
      <div class="section">
        <h6>Your cart is empty.</h6>
      </div>
    </div>
  {% endif %}
</div>

{% endblock main-content %}