{% extends 'main/layout.html' %} 
{% block title %}Dishes{% endblock title %} 

{% block main-content %}

{% if messages %}
  <div class="messages">
      {% for message in messages %}
        <div class="{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
  </div>
{% endif %}

<div>
  <h4>Categories:</h4>
  <a href="{% url 'all_dishes' %}">All Dishes</a>
  {% for category in categories_list %} 
    <a href="{% url 'category_dishes' category_id=category.id %}">{{category}} </a>
  {% endfor %}
</div>

<div>
  <h4>Dishes:</h4>
  {% for category in show_categories %}
    <h4>{{category.name}}</h4>
    <div>
      {% if category.image_file %}
          <img src="/{{category.image_file}}" alt="">
      {% else %}
          <img src="{{category.image_Url}}" alt="">
      {% endif %}
  </div>
    {% for dish in category.dish_set.all %} 
      {% if dish.is_deleted == False %}
      <a class="btn modal-trigger" href="#{{dish.name}}">{{dish.name}}</a>
      <div id="{{dish.name}}" class="modal">
        {% include 'common/dish_details.html' %}
        <!-- !!!good -->
        <form action="{% url 'add_to_cart' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="dish_id" value="{{dish.id}}">
            {{form}}
            <input type="submit" value="add">
        </form>
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}

</div>
{% endblock main-content %}
