{% extends 'main/layout.html' %} 
{% block title %}Dishes{% endblock title %} 

{% block main-content %}
<div>
  <h4>Categories:</h4>
  <a href="{% url 'all_dishes' %}">All Dishes</a>
  {% for category in categories_list %} 
    <a href="{% url 'category_dishes' category_id=category.id %}">{{category}} </a>
  {% endfor %}
</div>

<div>
  <h4>Dishes:</h4>
  {% for category in show_categories %}
    <h4>{{category.name}}</h4>
    {% for dish in category.dish_set.all %} 
      {% if dish.is_deleted == False %}
        {% include 'common/dish_details.html' %}
        <form action="{% url 'add_to_cart' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="dish_id" value="{{dish.id}}">
            <input type="number" name="amount" min="1" max="99" value="1">
            <input type="submit" value="add">
        </form>
      {% endif %}
    {% endfor %}
  {% endfor %}

</div>
{% endblock main-content %}
