{% extends 'layouts/base_layout.html' %}
{% load static %}
{% block title %}Uri's Diner{% endblock title %}
{% block content %}

<div class="center-align">
  <h1>Welcome to Uri's Diner</h1>
  <div>

    {% if request.user.username %}
    <h5>Hello, {{request.user.first_name|title}}</h5>
    {% else %}
    <h5>Hello, guest</h5>
    <div class="section"><a class="btn btn-large" href="{% url 'user_login' %}">Log In</a></div>
    <div ><a class="btn btn-flat" href="{% url 'user_signup' %}">Sign up</a></div>
    {% endif %}
    <div><a href="{% url 'all_dishes' %}"><h4>See delivery menu</h4></a></div>
    <div><img src="{% static 'images/landing.jpg' %}" alt="Uris Diner"></div>
  </div>

  <div><a href="{% url 'backoffice_login' %}">For staff only</a></div>
</div>

{% endblock content %}