{% extends 'layouts/menu.html' %}

{% block menu-content %}

<div>
  <ul class="collection">
    {% for dish in show_dishes %}
    <a class="modal-trigger collection-item" href="#{{dish.name}}">
      <img class="dish-img" {% if dish.image_file %}
        src="{{dish.image_file.url}}" {% else %} src="{{dish.image_Url}}"
        {% endif %} alt="{{dish.name}}">
      <div class="dish-text">
        <h5>{{dish.name}}</h5>
        <p>{{dish.price}}₪</p>
        <div>
          {% if dish.is_vegeterian %}
          {% include 'common/tag_vegeterian.html' %}
          {% endif %}
          {% if dish.is_gluten_free %}
          {% include 'common/tag_gluten_free.html' %}
          {% endif %}
        </div>
      </div>
    </a>

    <div id="{{dish.name}}" class="modal">
      <div class="modal-content">
        <img class="dish-img big" {% if dish.image_file %}
          src="{{dish.image_file.url}}" {% else %} src="{{dish.image_Url}}"
          {% endif %} alt="{{dish.name}}">
        <div class="dish-text">
          <h5>{{dish.name}}</h5>
          <p>{{dish.price}}₪</p>
          <div>
            {% if dish.is_vegeterian %}
            {% include 'common/tag_vegeterian.html' %}
            {% endif %}
            {% if dish.is_gluten_free %}
            {% include 'common/tag_gluten_free.html' %}
            {% endif %}
          </div>
          <p>{{dish.description}}</p>
          <div class="to-bottom">
            <form action="{% url 'add_to_cart' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="dish_id" value="{{dish.id}}">
              {{form.amount.label}}:
              <div class="input-field inline">
                {{form.amount}}
              </div>
              <input class="btn" type="submit" value="add">
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </ul>
</div>
{% endblock menu-content %}