<!-- is responsive -->
{% extends 'layouts/main.html' %}
{% block title %}Order{% endblock title %}
{% block main-content %}

<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4">
    <div class="section">
      <div class="card">
        <div class="card-content">
          <div class="center-align">
            <strong class="card-title">Order information</strong>
          </div>
          <form action="{% url 'fill_order' %}" method="POST" novalidate>
            {% csrf_token %}
            {{form}}
            <div class="row">
              <div class="col s12 center-align">
                <input class="btn" type="submit" value="Send">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main-content %}